<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index-style.css" />
    <title>Flight Booking</title>
  </head>
  <body>
    <div class="navbar">
      <div>
        <h1>Flight Booking</h1>
      </div>
      <div class="btnContainer">
        <button class="cmnButton" id="login">Masuk</button>
        <button class="cmnButton" id="register">Daftar</button>
      </div>
    </div>
    <div class="logregCont">
      <div class="formWrapper" id="regForm">
        <h2>Daftar</h2>
        <form action="/register" method="post">
          <div class="input-box">
            <input
              type="text"
              name="username"
              placeholder="Masukkan nama pengguna"
              required
            />
          </div>
          <div class="input-box">
            <input
              type="email"
              name="email"
              placeholder="Masukkan email"
              required
            />
          </div>
          <div class="input-box">
            <input
              type="text"
              name="phoneNumber"
              placeholder="Masukkan nomor telepon"
              required
            />
          </div>
          <div class="input-box">
            <input
              type="password"
              name="password"
              placeholder="Buat kata sandi"
              required
            />
          </div>
          <div class="input-box">
            <input
              type="password"
              name="confirmPassword"
              placeholder="Konfirmasi kata sandi"
              required
            />
          </div>
          <div class="input-box button">
            <input type="Submit" value="Daftar" />
          </div>
          <div class="text">
            <h3>Sudah punya akun? <a href="#">Masuk</a></h3>
          </div>
        </form>
      </div>
      <div class="formWrapper" id="logForm">
        <h2>Masuk</h2>
        <form action="/login" method="post">
          <div class="input-box">
            <input
              type="text"
              name="username"
              placeholder="Masukkan nama pengguna"
              required
            />
          </div>
          <div class="input-box">
            <input
              type="password"
              name="password"
              placeholder="Masukkan kata sandi"
              required
            />
          </div>
          <div class="input-box button">
            <input type="Submit" value="Masuk" />
          </div>
          <div class="text">
            <h3>Belum punya akun? <a href="#">Daftar</a></h3>
          </div>
        </form>
      </div>
    </div>
    <div class="container">
      <div class="heroBackground">
        <div class="backgroundObj"></div>
        <div class="backgroundObj"></div>
        <div class="backgroundObj"></div>
      </div>
      <div class="hero">
        <div class="textWrapper">
          <div class="text1">Pesan Sekarang, Terbang Tanpa Ribet</div>
          <div class="text2">
            Bersama kami, rasakan kenyamanan dan kemudahan perjalanan udara ke
            berbagai destinasi
          </div>
          <button class="cmnButton bookBait">Pesan sekarang</button>
        </div>
        <div class="background"></div>
      </div>
    </div>

    <script src="/js/script.js"></script>
  </body>
</html>
