body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.navbar {
  width: auto;
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(213, 213, 213, 1);
  color: black;
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0 40px;
  z-index: 1000;
}

.linkCont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.linkCont a {
  font-size: large;
  text-decoration: none;
  font-weight: 500;
  color: black;
}

.container {
  padding: 1em 8em;
  color: black;
}

.container h1 {
  text-align: left;
  margin-bottom: 20px;
  font-size: 2.5em;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0 5em;
  align-items: center;
}

.form-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1em;
}

.left-form,
.right-form {
  display: grid;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  font-size: medium;
}

input,
select {
  background-color: rgb(235, 235, 235);
  height: 50px;
  padding: 0 10px;
  border-radius: 15px;
  border: none;
  font-size: medium;
}

button {
  width: 20em;
  padding: 12px;
  background-color: #14426b;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.airlines {
  width: 50%;
}
